*{
    font-family: sans-serif;
}
body{
    background-color: rgb(117, 126, 109);
}

.main{
    width: 100%;
    padding: 2px;
}

.left{
    width: 60%;
    align-self: left;
    float: left;
}

.right{
    width: 40%;
    float: right;
    
}

video{
    margin-top: 2%;
    width : 80% ;
    height: 200px;
    border : 2px solid black;
    border-radius: 200% ;
    background-color: rgb(39, 68, 59);
}

table , td , th {
    width: auto;
    vertical-align: auto;
    border: 2px solid black;
}

p{
    font-size: 200%;
    color: rgb(205, 138, 50);
}

h3{
    font-size: 90%;
    margin-left: 10%;
    color:rgba(143, 212, 31, 0.671);
    /* color: fuchsia; */
}

.nearMe:hover{
    font-size: 150%;
    background-image: url("image/bg3.jpg"); 
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: 100%;
}

fieldset{
    background-image: url("image/bg2.jpg");
    background-size: 100%;
    
}

h1{
    background-color: cornflowerblue;
    border-radius: 200%;
}


button{
    size: 200%;
}